# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environment
.venv/
.env

TODO.md

# IDE
.vscode/
.idea/

# Logs
*.log

# Alembic
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

node_modules/
dist/